html{
    background-color: #24252a;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

/* div{
    border:2px solid red;
} */

hr{
    color: aliceblue;
}

button{
    padding: 5px 5px;
    border-radius: 20px;
    background-color: blueviolet;
    transition: all 0.5s ease 0s;
}

button:hover{
    cursor: pointer;
    background-color: pink;
}

a{
    color: aliceblue;
    text-decoration: none;

}


.page{
    display: flex;
}
 

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ======SIDEBAR====== */
.side-bar{
    /* width: 200px; */
    height: 100vh;
    border-style: none;
    flex: 0 0 200px;
    transition: all 0.5s ease 0s;
}

.side-bar-holder{
    position: fixed;
    height: 100%;
    width: 198px;
}

.side-bar-holder img{
    width: 198px;
}

.side-bar-intro{
    width: 178px;
    margin: auto 20px;
    text-align: left;
    color: aliceblue;
}

.side-bar p {
    color:#24252a
}

.side-bar-list{
    list-style: none;
    margin: 10px 10px;
}

.side-bar-list li{
    color: aliceblue;
    margin: 10px 30px;
}


/* =======HEADER======= */


/* .box img{
    display: block;
    margin:  auto;
} */

.header{
    background-color: #24252a;
    display: flex;
    justify-content: space-between;
    border-top: aliceblue 3px solid;
    border-bottom: aliceblue 3px solid;
    border-left:  aliceblue 2px solid;
}

.logo{
    margin: 5px 30px;
    margin-right: auto;
    display: flex;
}

.logo a img{
    width: 35px;
    height: 35px;
    display: block;
    margin: auto;
    border-radius: 15px;
}

.profile{
    margin: auto 10px;
}



.header-item-list{
    display: flex;
    list-style: none;
}

.header-item-list li{
    margin: auto 3px;
    padding: 0px 10px;
    font-weight: 200;
    transition: all 0.5s ease 0s;
    text-align: center;
}

.profile-button{
    justify-content: center; /* Center horizontally */
    align-items: center;
}


.header-item-list li:hover{
    background-color: aliceblue;
    border-radius: 10px;
    border-style: none;
}

.header-item-list li a {
    transition: all 0.5s ease 0s;
}

.header-item-list li a:hover {
    color: #24252a;
}

.artcle-name{
    width: calc(100% );
    text-align: left;
    padding: 10px 0px;
    padding-left: 30px;
    border-left:  aliceblue 2px solid;
}


/* =====HEADER=END===== */


/* ====MAIN ARTICLE==== */
.main-article{
    background-color: #24252a;
    width: calc(100% + 200px);
    height: fit-content; 
}

.article-content{
    border-left: aliceblue 2px solid;
    padding:  3%;
    margin-left: auto;
    margin-right: auto;
}

.article-content-text{
    max-width: 75%;
    min-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.abstract{
    margin-left: auto;
    width: 50%;
    margin-right: auto;
    max-width: 50%;

    min-width: 340px;
    text-align: left;
    /* white-space: nowrap; */
}

.article-item-list{
    list-style: none;
}

.article-item-list li{
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-item-list li p{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.article-item-list li h2{
    margin-left: 70px;
}

.article-item-list li h3{
    margin-left: 100px;
    margin-top: 10px;
}
.article-inner-heading{
    text-align: center;
}

.article-text-para{
    text-align: left;
    justify-content: center;
    width: 80%;
}

footer{
    border-top: 2px aliceblue solid;
}

.footer-content{
    margin: 20px 80px;
}

.footer-content p {
    margin: 20px 0px;
}

.footer-list{
    margin: 20px 80px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer-list li a {
    transition: all 0.5s ease 0s;
    padding: 5px 5px;
}

.footer-list li a:hover {
    background-color: aliceblue;
    border-radius: 10px;
    border-style: none;
    color: #24252a;
}

.footer-list li{
    margin: 20px 20px;
}

@media (max-width: 968px) {
    .side-bar {
      display: none; /* Hide the sidebar */
    }
    .main-article {
      width: 100%; /* Reset content margin */
    }
    .header p{
        margin-left: 10%;
    }
  }

  @media (max-width: 581px) {
    .profile{
        display: none;
    }
}